configuration {
  show-icons: true;
  modi: "combi,drun,window,ssh";
  combi-modi: "window,drun";
  show: "Search";
  monitor: "-4";
  display-window: "Window";
  display-drun: "Run";
}
@theme "themes/gruvbox_material/gruvbox-material.rasi"
